@model BeautyStore.Models.Brand

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Quản lý thương hiệu</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","AdminHome")">Home</a></li>
                <li class="breadcrumb-item active">Quản lý thương hiệu</li>
            </ol>
        </nav>
    </div>

    @using (Html.BeginForm("Create", "AdminBrands", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <label for="topic">Tên thương hiệu : </label>
        @Html.EditorFor(model => model.BrandName, new { htmlAttributes = new { @class = "form-control" } })
        <br />
        <div class="box-img-admin">
            <label for="imgInp">Hình ảnh :</label><br />
            <img id="blah" src="#" alt="" width="200px" />

            <input accept="image/*" type='file' id="imgInp" name="ImgBrand" /><br>
        </div>
        <br>
        <div style="margin: 10px 0px;">
            <button type="submit" class="btn btn-success">Thêm mới</button>
        </div>
    }

    <div>
        @Html.ActionLink("Quay lại", "Index")
    </div>
</main>
