
@{
    ViewBag.Title = "Introduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    
</style>
<div style="margin-left: 130px">
   
   

   
        <header>
            <h2>Chào mừng bạn đến với HaLuStore</h2>
            <p>Nơi đáng tin cậy cho tất cả nhu cầu làm đẹp của bạn</p>
        </header>


        <main>
            <section class="about-us">
                <h3>Về chúng tôi</h3>
                <p>
                    Tại HaLuStore, chúng tôi tin vào sức mạnh của vẻ đẹp để truyền cảm hứng và tăng sự tự tin.
                    Bộ sưu tập sản phẩm chăm sóc da và mỹ phẩm của chúng tôi được lựa chọn cẩn thận để tôn lên vẻ đẹp tự nhiên của bạn
                    và đáp ứng mọi nhu cầu làm đẹp của bạn.
                </p>
            </section>

            <section class="featured-products">
             
                <div class="product-card">
                    <img src="~/image/13.jfif" alt="Sản phẩm 1">
                 
                    <p>Khám phá phép màu của sản phẩm bán chạy nhất của chúng tôi sẽ làm cho da bạn trở nên rạng rỡ.</p>
                </div>

                <div class="product-card">
                    <img src="~/image/14.jfif" alt="Sản phẩm 2">
                   
                    <p>Thưởng thức trải nghiệm sang trọng với dòng sản phẩm chăm sóc da cao cấp của chúng tôi để có kết quả rạng ngời.</p>
                </div>
            </section>
        </main>

        


</div>


