@model IEnumerable<BeautyStore.Models.News>

<!-- slider -->
<div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="#"><img class="d-block w-100" src="~/Image/5.jfif" alt="First slide"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#"><img class="d-block w-100" src="~/Image/6.jfif" alt="Second slide"></a>
                        </div>
                        <div class="carousel-item">
                            <a href="#"><img class="d-block w-100" src="~/Image/7.jfif" alt="Second slide"></a>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 advertise">
                <div class="item">
                    <a href="#"><img src="~/Image/3.jfif" alt=""></a>
                </div>
                <div class="item">
                    <a href="#"><img src="~/Image/4.jfif" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end-slider -->
<!-- news -->
<div class="container">
    <div class="box-new">
        <h5>TIN TỨC NỔI BẬT</h5>


    </div>
</div>
<!-- end-news -->
