@model BeautyStore.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}
<main id="main" class="main">


    <!-- Default box -->
    <div class="pagetitle">
        <h1>Quản lý tin tức</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Quản lý tin tức</li>
            </ol>
        </nav>
    </div>
    <div class="container" style="height: 400px">
        <h2 class="clrTit bld tuht_show" id="article_title" style="text-align: center">@Model.NewsTitle </h2>

        <div style="float:left; width:350px; margin-right:50px">
            <img class="card-img-bottom" src="~/image/@Model.NewsImage" alt="card image cap">
        </div>

        <p>@Model.NewsContent</p>

        <p>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.NewsID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</main>